/* .glass{
    border: 2px solid #000;
    height: 100px;
    width: 100px;
    overflow-y: scroll;
}
.water{
    height: 200px;
    width: 90px;
} */

.glass{
    border: 2px solid #000;
}
.water{
    /* padding: 20px; */
    /* padding-left: 30px;
    padding-right: 10px; */
}
/* .box1{
    height: 100px;
    width: 100px;
    background-color: #000;

   
}
.box2{
    height: 100px;
    width: 100px;
    background-color: #000;
margin-top: 2px ;
} */
/* li{
    display: inline;
}
ul{
    text-align: center;
    box-shadow: 5px 5px 5px 5px #777777;
}
.about{
    visibility: hidden;
} */
 /* .container{
    border: 2px solid #000;
    border-radius: 10px;
 } */
 /* div {
    text-align: center; 
 }
  p {
    background-color: aqua; 
    display: inline; 
  } */
  /* p {
    text-align: center;
  } */
/*   
  .highlight {
    background-color: aqua;
  } */
/* div{
    box-shadow: 4px -2px 4px 4px #000;
} */